* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #8799b5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.text {
  position: absolute;
  left: 1rem;
  top: 2rem;
  font-size: 1.3rem;
  font-family: sans-serif;
}
.container {
  width: 520px;
  height: 520px;
  margin-top: 150px;
  padding-left: 10px;
  border: 3px solid rgb(30, 30, 70);
  border-radius: 10px;
  background-color: rgb(38, 38, 68);
  box-shadow: 1;
}
.display {
  width: 480px;
  height: 110px;
  font-weight: 500;
  font-size: 60px;
  font-family: sans-serif;
  margin: 25px 20px 16px 8px;
  border: 3px solid grey;
  border-radius: 10px;
  background-color: rgb(181, 177, 177);
}

.input {
  width: 475px;
  height: 105px;
  font-weight: 500;
  font-size: 60px;
  border-color: rgb(251, 235, 238);
  border-radius: 10px;
  background-color: rgb(181, 177, 177);
}
.num {
  width: 110px;
  height: 60px;
  border-radius: 10px;
  border: 3px solid rgb(30, 30, 70);
  margin-top: 6px;
  margin-left: 10px;
  font-size: 40px;
  font-weight: 500;
  background-color: rgb(162, 162, 177);
  text-align: center;
  font-family: sans-serif;
}
.num:hover {
  background-color: rgb(202, 200, 200);
}
button.num:hover {
  background-color: rgb(129, 129, 133);
}
.clear:hover {
  background-color: rgb(181, 178, 178);
}
.sign:hover {
  background-color: rgb(162, 159, 159);
}
.num:active {
  background-color: rgb(136, 133, 133);
}
button.num:active {
  background-color: rgb(162, 162, 177);
}
.clear:active {
  background-color: rgb(198, 193, 193);
}
.sign:active {
  background-color: rgb(202, 200, 200);
}
span.num {
  padding: 6px 0 0 40px;
}
span {
  display: flex;
}
span.highest {
  margin-top: 30px;
}

.sign {
  background-color: rgb(202, 200, 200);
  /* width: 230px; */
}
button.clear {
  background-color: rgb(202, 200, 200);
}
button.product,
button.division,
button.addition,
button.subtract,
button.module,
button.plusMinus {
  background-color: rgb(202, 200, 200);
}
button.delete {
  background-color: rgb(136, 133, 133);
}
button.delete:hover {
  background-color: rgb(162, 162, 177);
}

button.delete:active {
  background-color: rgb(207, 207, 222);
}
